# Comments & Basic Data Types

In [1]:
# this is a comment

In [2]:
print('hello') #this is also a comment

hello

In [3]:
""" this is a multi-line comment
"""
print("hello") #this is also a comment

hello

In [4]:
print(2)
print(10)

2
10

In [5]:
#the follwing are all floats
print(10.953)
print(8.0)  #even this number is a float

10.953
8.0

In [7]:
#the following are booleans
print(True)
print(False)

True
False

In [8]:
#the following are strings
print("")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

In [11]:
print('ShinIl Heo')
type(int) #will output <class> 'int'

ShinIl Heo

type

Variables

In [13]:
num1 = 5 #storing an integer into a variable
num2 = 8.4 #storing a float into a variable
print(num1,num2) #you can input multiple items using commas

5 8.4

In [14]:
#storing a boolean into a variable
switch = True
print(switch)

True

In [15]:
#storing strings into a variable
name = 'John Smith'
fav_number = '9'
print(name, fav_number) #will print 9 next to the name

John Smith 9

In [16]:
#using two variables to create another variable
result = num1+num2
print(result)

13.4

In [17]:
#adding, deleting, multiplying, dividing from a variable
result +=1 #same as saying result = result+1
print(result)
result *= num1 #same as saying result = result * num1
print(result)

14.4
72.0

In [18]:
# defining a varaible and overwriting it's value
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

Tuesday exercise

x = 3
y =10
result = x + y
print(x,'+',y,'=',result)

In [1]:
result = 245.54 * 13.66
print(result)

3354.0764

Working with Strings

In [2]:
#using the addition operator without variables
name = 'John' + " " + "Smith"
print(name)

John Smith

In [3]:
#using the addition operator with variables
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

In [7]:
#injecting variables using the format method
name = "John"
print('Hello {}'.format(name))
print('Hello {}, you are {} years old!'.format(name, 28))

Hello John
Hello John, you are 28 years old!

In [10]:
#using the new f strings
name = 'John'
print( f"Hello {name}")

Hello John

In [11]:
#one major difference between versions 2 & 3
name = 'John'
print ('Hello, %s'%name)

Hello, John

In [15]:
#python 2 multiple variable formattting
first_name = 'John'
last_name = 'Smith'
print ("Hello, %s %s"%(first_name, last_name))
       #surround the variables in parenthesis

Hello, John Smith

In [17]:
#using indexes to print each element
word = 'Hello'
print(word[0]) #will ouput 'H'
print(word[1]) #will output 'e'
print(word[-1]) #will output 'o'

H
e
o

In [19]:
print(word[0:2]) #will output "He"

He

In [20]:
print(word[0:5:2]) #will output 'Ho'

Hlo

Exercise

In [23]:
#Variable Injection
number1 = 23
number2 = 4.5
F_word = False
name = "John"

print("{} {} {} {}".format(number1,number2,F_word,name))

23 4.5 False John

In [25]:
#Fill in the Blanks
first_answer = "ShinIl Heo"
sec_answer = "Baseball"
thd_answer = "python"
print("{}'s favorite sport is {}".format(first_answer, sec_answer))
print("{} is working on {} programming!".format(first_answer, thd_answer))

ShinIl Heo's favorite sport is Baseball
ShinIl Heo is working on python programming!

Manipulating Strings

In [1]:
#using the title method to capitalize a string
name = "john smith"
print(name.title())

John Smith

In [2]:
name = "john smith"
print(name.upper())
print(name.lower())

JOHN SMITH
john smith

In [3]:
#replacing an exclamation point with a period
words = "Hello there!"
print(words.replace("!","."))

Hello there.

In [4]:
#finding the starting index of our searched term
s = "Look over that way"
print(s.find("over"))

5

In [5]:
#removing white space with strip
name ="   john   "
print(name.strip())

john

In [7]:
name ="    john   "
print(name.lstrip())
print(name.rstrip())

john
    john

In [8]:
#converting a string into a list of words
s = "These words are separated by spaces"
print(s.split())

['These', 'words', 'are', 'separated', 'by', 'spaces']

Thursday Exercises

In [9]:
#Uppercasing
words = "uppercase"
print(words.upper())

UPPERCASE

In [13]:
#Strip Symbols
words = "$$John Smith"
words = words.strip("$$")
print(words)

John Smith

In [14]:
help("".strip)

Help on built-in function strip:

strip(chars=None, /) method of builtins.str instance
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

In [15]:
#Strip Symbols
words = "$$John Smith"
words = words.lstrip("$$")
print(words)

John Smith

Friday Project: Printing Receipts

In [15]:
#create a product and price for three items
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89

In [16]:
#create a company name and information
company_name = "coding temple inc."
company_adress = "283 Franklin St."
company_city = "Boston, MA"

In [17]:
#declare ending message
message = "Thanks for shopping with us today!"

In [18]:
#create a top border
print("*"*50)

**************************************************

In [19]:
#print company information first, using format
print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_adress))
print("\t\t{}".format(company_city))

		Coding Temple Inc.
		283 Franklin St.
		Boston, MA

In [20]:
#print a line between sections
print("*"*50)

**************************************************

In [21]:
#print out header for sectino of items
print("\tProduct Name\tProduct Price")

	Product Name	Product Price

In [22]:
#create a print statement for each product
print("\t{}\t\t${}".format(p1_name.title(), p1_price))
print("\t{}\t\t${}".format(p2_name.title(), p2_price))
print("\t{}\t\t${}".format(p3_name.title(), p3_price))

	Books		$49.95
	Computer		$579.99
	Monitor		$124.89

In [23]:
#print a line between sections
print('='*50)

==================================================

In [24]:
#print out header for section of total
print("\t\tTotal")

		Total

In [25]:
#calculate total price and print out
total = p1_price + p2_price + p3_price
print("\t\t\t${}".format(total))

			$754.83

In [26]:
#print a line between sections
print("="*50)

==================================================

In [27]:
#output thank you message
print("\n\t{}\n".format(message))

	Thanks for shopping with us today!

In [28]:
#create a bottom border
print("*"*50)

**************************************************

In [29]:
#create a product and price for three items
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89

#create a company name and information
company_name = "coding temple inc."
company_adress = "283 Franklin St."
company_city = "Boston, MA"

#declare ending message
message = "Thanks for shopping with us today!"

#create a top border
print("*"*50)

#print company information first, using format
print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_adress))
print("\t\t{}".format(company_city))

#print a line between sections
print("*"*50)

#print out header for sectino of items
print("\tProduct Name\tProduct Price")

#create a print statement for each product
print("\t{}\t\t${}".format(p1_name.title(), p1_price))
print("\t{}\t\t${}".format(p2_name.title(), p2_price))
print("\t{}\t\t${}".format(p3_name.title(), p3_price))

#print a line between sections
print('='*50)

#print out header for section of total
print("\t\tTotal")

#calculate total price and print out
total = p1_price + p2_price + p3_price
print("\t\t\t${}".format(total))

#print a line between sections
print("="*50)

#output thank you message
print("\n\t{}\n".format(message))

#create a bottom border
print("*"*50)

**************************************************
		Coding Temple Inc.
		283 Franklin St.
		Boston, MA
**************************************************
	Product Name	Product Price
	Books		$49.95
	Computer		$579.99
	Monitor		$124.89
==================================================
		Total
			$754.83
==================================================

	Thanks for shopping with us today!

**************************************************

Weekly Challenges

In [36]:
#Side Borders
print("*\t\t\t\t\t\t\t\t*\n"*10)

*								*
*								*
*								*
*								*
*								*
*								*
*								*
*								*
*								*
*								*

In [85]:
#Researching Methods
words = "Hello World"
print(words[0:2])
print(len(words))
print(words.count(' '))
print(words.split(' '))
print(words.endswith('s'))
print(words.replace('Hello',"Bye"))
print(words.swapcase())
print(' '.join(reversed(words)))

He
11
1
['Hello', 'World']
False
Bye World
hELLO wORLD
d l r o W   o l l e H

In [60]:
#Reverse
words = "Hello"
words[4::-1]

'olleH'